<!--
*@author: Razvan Rauta
*Date: 10.05.2019
*Time: 15:49
*
-->

<!DOCTYPE html>
<html lang="en">
<div id="headFragment"></div>
<body>
<div align="center">
    <h1 class="header">Welcome to my store</h1>
    <br/>
    <table  class="table-bordered d-md-table-cell" >
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>Category</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr id="booksTable">
            <td id="title"></td>
            <td id="author"></td>
            <td id="year"></td>
            <td id="category"></td>
            <td id="price"></td>
        </tr>
        </tbody>


    </table>

    <div id="assets"></div>
</div>
</body>

</html>