<!--
*@author: Razvan Rauta
*Date: 10.05.2019
*Time: 15:49
*
-->

<!DOCTYPE html>
<html lang="en">
<div id="headFragment"></div>
<body>
<div id="navbarFragment"></div>
<main class="content align-content-md-center align-middle" role="main"
      style="width: 80%;margin-left: auto; margin-right:auto;">
    <h1 class="text-center">Welcome to my store</h1>
    <br/>
    <div id="caruselFragment"></div>
    <br/>
    <div id="booksTable"></div>


    <!--    <div id="assets"></div>-->
</main>
<br/>
<footer id="footerFragment"></footer>
</body>
</html>