<!--
*@author: Razvan Rauta
*Date: 11.05.2019
*Time: 14:37
*
-->

<!DOCTYPE html>
<html lang="en">
<div class="carousel slide" data-ride="carousel" id="carouselExampleIndicators">
    <ol class="carousel-indicators">
        <li class="active" data-slide-to="0" data-target="#carouselExampleIndicators"></li>
        <li data-slide-to="1" data-target="#carouselExampleIndicators"></li>
        <li data-slide-to="2" data-target="#carouselExampleIndicators"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a id="book0Link">
                <img alt="First slide" class="d-block w-100" id="book0Img" src="https://placeimg.com/1080/500/animals">
            </a>
            <div class="carousel-caption d-none d-md-block">
                <h5 id="book0Title">My Caption Title (1st Image)</h5>
                <p id="book0Author">The whole caption will only show up if the screen is at least medium size.</p>
            </div>
        </div>
        <div class="carousel-item">
            <a id="book1Link">
                <img alt="Second slide" class="d-block w-100" id="book1Img" src="https://placeimg.com/1080/500/arch">
            </a>
            <div class="carousel-caption d-none d-md-block">
                <h5 id="book1Title">My Caption Title (1st Image)</h5>
                <p id="book1Author">The whole caption will only show up if the screen is at least medium size.</p>
            </div>
        </div>
        <div class="carousel-item">
            <a id="book2Link">
                <img alt="Third slide" class="d-block w-100" id="book2Img" src="https://placeimg.com/1080/500/nature">
            </a>
            <div class="carousel-caption d-none d-md-block">
                <h5 id="book2Title">My Caption Title (1st Image)</h5>
                <p id="book2Author">The whole caption will only show up if the screen is at least medium size.</p>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" data-slide="prev" href="#carouselExampleIndicators" role="button">
        <span aria-hidden="true" class="carousel-control-prev-icon"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" data-slide="next" href="#carouselExampleIndicators" role="button">
        <span aria-hidden="true" class="carousel-control-next-icon"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
</html>